html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    /* Forces body to match full viewport width */
    overflow-x: hidden;
    background-color: white;
    /* Only hides horizontal scrolling */
}

input {
    color: black;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.home-main-window {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

.home-top-section {
    background-color: #232541;
    height: 100vh;
    width: 100vw;
}