html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
}

.webinars-main-window {
    display: flex;
}

.webinars-main-div {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    padding-left: 6vw;
    padding-bottom: 7vh;
    margin-top: 7vh;
    gap: 5vh;
}

.webinars-title-create-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
}

.webinars-title {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.webinars-create-event-btn {
    border: 1px solid black;
    border-radius: 10px;
    background: transparent;
    color: black;
    font-size: 17px;
    transition: background-color 0.3s ease-in-out 0s;
    margin-left: 2vw;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.webinars-create-event-btn:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.webinars-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.no-webinars-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 23vw;
}

.no-webinars-img {
    height: 40vh;
}

.no-webinars-text {
    text-align: center;
    color: black;
}

.webinars-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    z-index: 999;
}

.webinars-form-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    background: white;
    padding: 2rem;
    border: 4px solid black;
    border-radius: 20px;

    width: 90%;
    max-width: 700px;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.webinars-form-modal2 {
    position: fixed;
    left: 29vw;
    top: 20vh;
    z-index: 1000;
    background: transparent;
    border-radius: 10px;
    border: 4px black solid;
    border-radius: 20px;
    max-width: 900px;
    width: 90%;
}

@media (max-width: 1436px) {
    .webinars-grid {
        gap: 0px;
    }
}

@media (max-width: 1390px) {
    .webinars-grid {
        width: 95%;
    }

    .webinars-title-create-div {
        justify-content: start;
        gap: 50vw;
    }
}

@media (max-width: 1350px) {
    .webinars-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        width: 50%;
    }
}

@media (max-width: 1300px) {
    .webinars-form-modal2 {
        left: 13vw;
    }
}

@media (max-width: 1276px) {
    .webinars-title-create-div {
        gap: 45vw;
    }
}

@media (max-width: 1155px) {
    .webinars-title-create-div {
        gap: 40vw;
    }
}

@media (max-width: 1140px) {
    .webinars-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1080px) {
    .webinars-form-modal2 {
        left: 7vw;
    }
}

@media (max-width: 1040px) {
    .webinars-title-create-div {
        gap: 30vw;
    }
}

@media (max-width: 880px) {
    .webinars-side-bar {
        display: none;
    }

    .webinars-main-div {
        margin-left: 20px;
    }

    .webinars-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 790px) {
    .webinars-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 740px) {
    .webinars-form-modal2 {
        left: 5vw;
    }
}

@media (max-width: 530px) {
    .webinars-title-create-div {
        gap: 25vw;
    }
}