.explore-webinars-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .explore-webinars-div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .explore-webinars-div {
        grid-template-columns: repeat(1, 1fr);
    }
}